<h1>Summary</h1>
<div id='div_legs'>
  <table class="table">
    <thead>
  <tr><th>Route</th><th>Earliest last-checkpoint</th><th>Latest last-checkpoint</th><th>Teams still out</th></tr>
  </thead>
  <% FOREACH route IN summary.routes.sort %>

  <tr><td><% route %></td><td><% summary.routes.$route.min_cp %></td><td><% summary.routes.$route.max_cp %></td><td><% summary.routes.$route.num_not_completed %></td></tr>

<% end %>
  </table>
</div>
