<script src='javascripts/teams.js'></script>
<h1>Teams Progress</h1>
<div id='div_teams'>
  <table id="tbl_teams" class='display'>
    <thead>
      <tr><th class="felltrack">Team</th><th>Name</th><th>Route</th><th>Last CP</th><th>Next CP</th><th>Expected Time @ Next</th><th>Lateness</th></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
