<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Jquery -->
	<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- FancyTable -->
	<script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>

	<script src="/javascripts/page_timer.js"></script>

	<% IF page.table_is_searchable %>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".table").fancyTable({
					sortColumn:<% if page.table_sort_column %> <% page.table_sort_column %> <% else %> 0 <% end %>,
					pagination: false,
					globalSearch:true,
					searchable:true,
					sortable:true,
					sortOrder:<% if page.table_sort_order %>'<% page.table_sort_order %>' <% else %> 'ascending' <% end %>,
				});
			});
		</script>
	<% END %>

	<meta charset="<% settings.charset %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<title>Fell Scout</title>

	<% if page.auto_refresh %>
		 <meta http-equiv="refresh" content="10">
	<% end %>

</head>
	<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fell Scout</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/laterunners">Late Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scratch-teams">Scratch Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teams">All Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/checkpoints">Checkpoints</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/legs">Legs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/entrants">Entrants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/admin">Admin</a>
      </li>
    </ul>
    <div class="disabled collapse navbar-collapse justify-content-end" id="navbarNav">
    <% if page.auto_refresh and page.auto_refresh > 0 %>
        <form method='post'>
            <input type='hidden' name='auto_refresh' value='-1' />
            <input type='submit' class='btn btn-primary' value='AutoRefresh On'>
        </form>
    <% else %>
        <form method='post'>
            <input type='hidden' name='auto_refresh' value='1' />
            <input type='submit' class='btn btn-outline-secondary' value='AutoRefresh Off'>
        </form>
    <% end %>
	<% if page.seconds_since_last_felltrack_update > 600 %>
		<button type='button' class='btn btn-danger'>
	<% else %>
		<button type='button' class='btn btn-outline-success'>
	<% end %>
		Last felltrack sync<br> <% page.time_since_last_felltrack_update %> 
	</button>
    	<button type='button' class='btn btn-outline-secondary'>Page age<br> <a class=page_timer id='page_timer'></a></button>
    </div>
</div>
  </div>
</nav>

		<div style='width:90%;margin:auto;'>
			<% content %>
		</div>
		<hr />
		<div id="footer">
			This is <a href='https://github.com/BigRedS/fell-scout/blob/master/README.md'>FellScout</a>, a tool for <a href='https://felltrack.com/'>FellTrack</a>
			<br />
			To ask for changes/features/additions, either find Avi in Central Control or <a href='https://github.com/BigRedS/fell-scout/issues'>Open a bug</a>.
		</div>
	</body>
</html>
